---
page_title: "{{.ProviderName}} Provider"
description: |-
  {{ .Description | trimspace }}
---

# {{.ProviderName}} Provider

{{ .Description | trimspace }}

For detailed documentation, visit the <a href="https://waap.docs.link11.com/using-the-product/how-do-i%2E%2E%2E/use-terraform-with-link11-waap">Link11 WAAP Documentation Portal</a>.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
